#wordsDiv{
    font-family:algerian;
    font-size: 20px; 
    font-weight: bold;
    color: royalblue;
}

#lettersDiv{
    font-family: ar destine;
    font-size: 20px;
    font-weight: bold;
    color: red;
}  
